
p{
    background-color: aqua;
    border-radius: 15px;
    border-style: dashed;
    border-width: 20px;
    padding-left: 20px;
    margin: 150px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
}
